{% extends 'main.html' %}
{% block title %} Add Project {% endblock title %}

{% block content %}
    <!-- Main Section -->
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                {% comment %} <a class="backButton" href="#"><i class="im im-angle-left"></i></a> {% endcomment %}
                <div style="text-align:center; font-weight: bold">Manage Project</div>
                <br>
                <form class="form" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'featured_image' %}
                            <div class="form__field">
                                <label>{{ field.label }}: </label>
                                {{ field }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="form__field">
                        <label>New Tags: </label>
                        <textarea class="input" name="new_tags" placeholder='Comma separated skills...'></textarea>
                        <ul style="margin-left: 19px">
                            <li>Add comma seperated skills</li>
                            <li>Already Skills will be ignored</li>
                        </ul>
                    </div>
                    <div class="form__field">
                        <label>{{ form.featured_image.label }}: </label>
                        {{ form.featured_image }}
                    </div>
                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
                </form>
            </div>
        </div>
    </main>

{% endblock content %}