{% extends 'main.html' %}
{% load static %}
{% block custom_assets %}
    <link rel="stylesheet" href="{% static 'project/css/style.css' %}">
{% endblock custom_assets %}
{% block title %} Project - {{ project.title }} {% endblock title %}

{% block content %}
{% if project.owner == request.user.profile %}
<div class="switch_bar">
    <div class="switch_text">Publish</div> 
    <input type="checkbox" id="switch" {% if project.is_published %}checked{% endif %} 
        onchange="document.getElementById('publish_form').submit()"/>
    <label for="switch" class='switch_label'>Toggle</label>
</div>
<form action="{% url 'project_publish' project.id %}" method="POST" id="publish_form">
    {% csrf_token %}
</form>
{% endif %}
<main class="singleProject my-md">
    <form action="{% url 'project_delete' project.id %}" method="POST" id="delete_form">
        {% csrf_token %}
    </form>
    <div class="container">
        <div class="layout">
            <div class="column column--1of3">
                <h3 class="singleProject__subtitle">Tools & Stacks</h3>
                <div class="singleProject__toolStack">
                    {% for tag in project.tags.all %}
                    <span class="tag tag--pill tag--sub tag--lg">
                        <small>{{ tag.name }}</small>
                    </span>
                    {% endfor %}
                </div>
                {% if project.demo_link %}
                    <a class="singleProject__liveLink" href="{{ project.demo_link }}" target="_blank">
                        <i class="im im-external-link"></i>
                        Demo
                    </a>
                {% endif %}
                {% if project.source_link %}
                    <a class="singleProject__liveLink" href="{{ project.source_link }}" target="_blank">
                        <i class="im im-external-link"></i>
                        Source Code
                    </a>
                {% endif %}
            </div>
            <div class="column column--2of3">
                <img class="singleProject__preview" src="{{ project.get_image_url }}" alt="portfolio thumbnail" />
                {% if request.user.is_authenticated %}
                <div style="text-align: right;">
                    <a href="{% url 'project_edit' project.id %}">Edit</a>
                    <a href="#" onclick="event.preventDefault();document.getElementById('delete_form').submit()">Delete</a>
                </div>
                {% endif %}
                <a href="{% url 'profile_show' project.owner.id %}" class="singleProject__developer">{{ project.owner.full_name }}</a>
                <h2 class="singleProject__title">{{ project.title }}</h2>
                <h3 class="singleProject__subtitle">About the Project</h3>
                <div class="singleProject__info">
                    {{ project.desciption|linebreaksbr }}
                </div>

                <!-- Reviews -->
                <div class="comments">
                    <h3 class="singleProject__subtitle">Feedback</h3>
                    {% if request.user.is_authenticated %}
                    <h5 class="project--rating">
                        {{ project.vote_ratio }}% Postitive Feedback ({{ project.reviews.count }}
                        Vote{{ project.reviews.count|pluralize:'s' }})
                    </h5>
                    
                    <!-- Reviews form -->
                    {% if request.user.profile != project.owner and request.user.profile.id not in project.reviewers %}
                    <form class="form" action="" method="POST">
                        {% csrf_token %}
                        <!-- Textarea -->
                        {% for field in form %}
                        <div class="form__field">
                            <label>{{ field.label }}:</label>
                            {{ field }}
                        </div>
                        {% endfor %}
                        <input class="btn btn--sub btn--lg" type="submit" value="Comments" />
                    </form>
                    {% endif %}
                    
                    <!-- Reviews List part -->
                    <div class="commentList">
                        {% for review in project.reviews.all %}
                        <div class="comment">
                            <a href="{% url 'profile_show' review.owner.id %}">
                                <img class="avatar avatar--md"
                                    src="{{ review.owner.get_image_url }}"
                                    alt="user" />
                            </a>
                            <div class="comment__details">
                                <a href="{% url 'profile_show' review.owner.id %}" class="comment__author">{{ review.owner.full_name }}</a>
                                <p class="comment__info">
                                   {{ review.body|linebreaksbr }}
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                        You need to <a href="{% url 'profile_login' %}?next={{request.path}}">login</a> to view and add reviews
                    {% endif %}

                </div>

            </div>
        </div>
    </div>
    </div>
</main>

{% endblock content %}