{% extends 'main.html' %}

{% block title %} Project - {{ project.title }} {% endblock title %}

{% block content %}

    <div>
        <img style="width: 200px; height: 200px" src="{{ project.featured_image.url }}" alt="">
    </div>
    <h2> {{ project.title }} </h2>
    <p> {{ project.desciption }} </p>
    Demo: <a href="{{ project.demo_link }}" target="_blank">{{ project.demo_link }}</a>
    <br/>
    Source: <a href="{{ project.source_link }}" target="_blank">{{ project.source_link }}</a>
    
    <hr/>
    <div style="margin-top: 12px">
        
        {% for tag in project.tags.all %}
        <span style="border: 1px solid grey; padding: 10px"> {{ tag.name }} </span>
        {% endfor %}
        
    </div>
    <hr/>
    <div>
        <a href="{% url 'project_edit' project.id %}">Edit</a>
        <a href="#" onclick="event.preventDefault();document.getElementById('delete_form').submit()">Delete</a>
    </div>

    <form action="{% url 'project_delete' project.id %}" method="POST" id="delete_form">
        {% csrf_token %}
    </form>

{% endblock content %}